<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         verbose="true"
         stopOnError="false"
         backupGlobals="false"
         stopOnFailure="false"
         processIsolation="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutTestsThatDoNotTestAnything="false"

>
    <testsuites>
        <testsuite name="Fusion Tests">
            <directory suffix="Test.php">./tests/src</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="base64:UCfgTCY1PYHCii+kT6F6V088hZCxNnSIa7uGJmS6zHs="/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>