@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Source+Sans+Pro:400,600,700');

@tailwind base;
@tailwind components;

@import "utility/variables"; // Must come first
@import "utility/functions";
@import "utility/helpers";
@import "utility/mixins";

@import "base/globals";
@import "base/typography";

@import "components/animations";
@import "components/backgrounds";
@import "components/badges";
@import "components/buttons";
@import "components/cards";
@import "components/dropdown";
@import "components/icons";
@import "components/loaders";
@import "components/tables";
@import "components/tabs";
@import "components/forms/checkboxes";
@import "components/forms/grid";
@import "components/forms/inputs";
@import "components/forms/radios";
@import "components/forms/shared";
@import "components/forms/toggle";

@import "layout/columns";
@import "layout/containers";
@import "layout/footer";
@import "layout/header";
@import "layout/section";
@import "layout/sidebar";

@import "pages/customize";

@import "vendor/codemirror";
@import "vendor/draggable";
@import "vendor/flatpickr";
@import "vendor/gfm";
@import "vendor/nprogress";
@import "vendor/pickr";
@import "vendor/plyr";
@import "vendor/redactor";
@import "vendor/vue";

/**
OLD STYLES
---------------
**/

// Elements
@import "refactor/elements/form";

// Components
@import "refactor/components/banner";
@import "refactor/components/charts";
@import "refactor/components/jumbotron";
@import "refactor/components/list";
@import "refactor/components/loader";
@import "refactor/components/modal";
@import "refactor/components/pagination";
@import "refactor/components/radio";
@import "refactor/components/section_builder";
@import "refactor/components/select";
@import "refactor/components/spinner";
@import "refactor/components/toast";
@import "refactor/components/tooltip";
@import "refactor/components/treeview";
@import "refactor/components/upload";
@import "refactor/components/logs";
@import "refactor/components/file-manager";

// Fieldtypes
@import "refactor/components/fieldtypes/color-picker";
@import "refactor/components/fieldtypes/datetime";
@import "refactor/components/fieldtypes/markdown";
@import "refactor/components/fieldtypes/taxonomy";
@import "refactor/components/fieldtypes/block-editor";

// Utilities
@tailwind utilities;

// Layout
@import "refactor/layout/containers";
@import "refactor/layout/gallery";
@import "refactor/layout/inbox";
@import "refactor/layout/mailables";
