.form-group {
    @apply leading-normal box-border clear-both text-left relative w-full;
    margin-bottom: rem(30px);

    &__messages { @apply mt-3; }
}

.input-group {
    @apply flex items-center justify-start;

    > * {
        @apply relative;

        &:not(:first-child) {  margin-left: -1px; } 

        &:not(:first-child):not(:last-child) {
            @apply rounded-r-none rounded-l-none;
        }
 
        &:first-child { 
            @apply rounded-br-none rounded-tr-none; 
        }

        &:last-child { 
            @apply rounded-bl-none rounded-tl-none; 
        }

        &:focus { z-index: 1; }
    }
}

.label {
    @apply block uppercase leading-normal tracking-wide text-gray-700 text-sm font-bold mb-3;
    @extend %no-bottom;

    &--required:after { 
        @apply inline-block text-danger-500 ml-1; 
        content: '*';
    }
}

.legend { @apply leading-normal mb-3; }