.main-content { 
    margin-top: 55px;
    background: #f5f5f5;
    
    @screen md {
        transition: padding 0.5s $transition-effect;

        .nav-active & { padding-left: $nav-width-desktop; }
    }

    &__container {
        padding: rem(30px) rem(20px);

        @screen md { padding: rem(30px); }
    }

    &__header {
        @apply flex flex-row flex-wrap items-center justify-between mb-3;

        > h1 {
            @apply text-gray-800 mb-3;
        }
    }

    &__actions {
        @apply mb-3;
    }

    &__body {}
}