.main-content { 
    @apply bg-gray-100;
    margin-top: 55px;
    
    @screen lg {
        transition: padding 0.5s $transition-effect;

        .nav-active & { padding-left: $nav-width-desktop; }
    }

    &__container {
        @apply py-6 px-4;

        @screen xl { @apply p-6; }
    }

    &__header {
        @apply flex flex-row flex-wrap items-center justify-between mb-3 mr-2;
        min-height: rem(50px);

        @screen lg {
            max-width: calc(100% - 300px);
        }
    }

    &__actions {
        @apply flex flex-shrink-0 mb-3 ml-auto;
        min-height: rem(50px);

        .button { @apply mb-0; }
    }

    &__body {}
}

.form-container {
    @extend .row;

    @screen xl { @apply flex-no-wrap; }

    &__content {
        @extend .col;
        width: 100%;
        transition: width 0.5s $transition-effect;

        @screen xl { flex: 1 1 auto; }
    }

    &__sidebar {
        @extend .col;
        width: 100%;
        transition: width 0.5s $transition-effect;

        @screen xl { 
            @apply flex-shrink-0;
            width: 400px;

            .nav-active & { width: 300px; }
        }

        @screen xxl {  
            .nav-active & { width: 400px; }
        }
    }
}

.sidebar-container {
    @extend .row;

    @screen lg {
        @apply flex flex-no-wrap;
    }

    &__content {
        @extend .col;
        @apply w-full;

        @screen lg {  @apply flex-auto; }
    }

    &__sidebar {
        @extend .col;

        @screen lg {
            @apply flex-shrink-0;
            width: 250px;
        }

        @screen xl { width: 300px; }
    }
}