.page-footer {
    @apply leading-loose text-gray-600 text-xs text-center p-6;
    background: #f5f5f5;

    @screen lg {
        transition: padding 0.5s $transition-effect;

        .nav-active & { padding-left: $nav-width-desktop; }
    }
}