.page-footer {
    @apply bg-gray-200 leading-loose text-gray-600 text-xs text-center p-6;

    @screen lg {
        transition: padding 0.5s $transition-effect;

        .nav-active & { padding-left: $nav-width-desktop; }
    }
}