.nav {
    @apply fixed overflow-y-auto w-full;
    background: #2d323b;
    color: #ffffff;
    right: 100%;
    top: 55px;
    height: calc(100vh - 55px);
    transition: right 0.5s $transition-effect, left 0.5s $transition-effect;
    z-index: 5;

    background: #2d323b;
    background: linear-gradient(180deg, #191b1f 0%, #2d323b 33%, #363e4e 66%, #445d6d 100%);

    .nav-active & {
        right: 0;

        @screen md {
            right: auto;
            left: 0;
        }
    }

    @screen lg {
        @apply overflow-y-auto z-20;
        width: $nav-width-desktop;
        right: auto;
        left: -$nav-width-desktop;
    }

    &__container {
        @apply pb-6;
    }
}

.nav-menu {
    &__list {}

    &__item {}

    &__link {
        @apply font-semibold tracking-wide leading-none font-serif text-white no-underline text-xs flex flex-row items-center p-3;
        transition: all 0.3s $transition-effect;

        .nav-menu--nested & {
            @apply text-gray-400;

            padding-left: rem(48px);
        }

        &:hover {
            @apply cursor-pointer bg-gray-700 text-gray-100;
        }

        &:active {
            @apply bg-gray-900 text-white;
        }

        .link-icon {
            @apply inline-block mr-4;
        }

        .toggle-icon {  @apply ml-auto; }
    }

    &__heading {
        @apply block text-xs tracking-wider font-semibold uppercase m-3 text-gray-100;
    }
}

.nav-button {
    @extend .button;
    @apply flex items-center justify-center bg-transparent border-0 rounded text-white;
    width: rem(35px);
    height: rem(35px);

    &:hover:not([disabled]),
    &:focus {
        @apply text-white bg-transparent border-0;
    }

    &:active:not([disabled]) {
        @apply text-white bg-transparent border-0;
    }

    &--full {
        @apply w-auto px-3
    }
}

.nav-logo {
    &__text {
        @apply font-serif text-white;
        font-size: rem(22px);
    }

    &__image {}
}

// .nav-account {
//     @apply flex items-center leading-normal text-sm mb-4;
//     padding: 10px;
//     background: rgba(black, 0.3);

//     &__icon {
//         @apply flex-shrink-0 mr-3;
//     }

//     &__user {}
// }