.blueprint {
    &__row { 
        @screen xl {
            @apply flex-no-wrap;
        }
    }

    &__col {
        @apply w-full;

        @screen xl {
            @apply w-auto flex-auto;
        }

        &--sidebar {
            @screen xl {
                @apply flex-initial flex-shrink-0;
                width: 300px;
            }
        }
    }
}

.blueprint-area {
    @apply mb-6;

    &__btn {
        @apply w-full;
    }
}

.blueprint-section {
    &__header {
        @apply flex items-center;
    }

    &__grip {
        @apply text-gray-400 mr-2 -ml-2;
    }

    &__actions {
        @apply ml-auto flex flex-shrink-0 items-center -mr-1;

        .button {
            @apply text-gray-500 border-0 px-0 mb-0 mr-0;
            width: rem(25px);
            height: rem(25px);
        }
    }
}