.simple-button {
    @apply appearance-none;

    &:focus {
        @apply outline-none shadow-focus;
    }
}

.button {
    @apply appearance-none bg-white border border-gray-300 rounded leading-normal text-gray-700 no-underline cursor-pointer px-3 py-2;
    transition: all 0.2s $transition-effect;

    &:hover:not([disabled]),
    &:hover:not(.disabled) { 
        @apply bg-gray-200 border-gray-300; 
    }

    &:active:not([disabled]),
    &:active:not(.disabled) { @apply bg-gray-300; }

    &:focus {
        @apply outline-none shadow-focus;
    }

    &[disabled],
    &.disabled {
        @apply cursor-not-allowed opacity-50;
        pointer-events: none;
    }

    > .icon { @apply mr-3; }

    &--borderless {
        @apply border-0 p-0;
    }

    &--rounded { @apply rounded-full; }

    &--icon {
        @apply justify-center items-center flex;

        width: rem(42px);
        height: rem(42px);

        &.button--small {
            width: rem(35px);
            height: rem(35px);
        }

        &.button--large {
            width: rem(45px);
            height: rem(45px);
        }

        > .icon { @apply m-0; }
    }

    &--small { @apply text-sm; }

    &--large { @apply text-lg; }

    &--brand, 
    &--primary, 
    &--secondary, 
    &--info, 
    &--success, 
    &--warning, 
    &--danger,
    &--brand:hover:not([disabled]), 
    &--primary:hover:not([disabled]), 
    &--secondary:hover:not([disabled]), 
    &--info:hover:not([disabled]), 
    &--success:hover:not([disabled]), 
    &--warning:hover:not([disabled]), 
    &--danger:hover:not([disabled]) { @apply text-white; }

    &--primary,
    &--brand {
        @apply bg-primary-500 border-primary-500;

        &:hover:not([disabled]),
        &:hover:not(.disabled) { 
            @apply bg-primary-700 border-primary-700; 
        }

        &:active:not([disabled]),
        &:active:not(.disabled) { 
            @apply bg-primary-900 border-primary-900; 
        }
    }

    &--secondary {
        @apply bg-secondary-500 border-secondary-500;

        &:hover:not([disabled]),
        &:hover:not(.disabled) { 
            @apply bg-secondary-700 border-secondary-700; 
        }
        
        &:active:not([disabled]),
        &:active:not(.disabled) { 
            @apply bg-secondary-900 border-secondary-900; 
        }
    }

    &--success {
        @apply bg-success-500 border-success-500;

        &:hover:not([disabled]),
        &:hover:not(.disabled) {
            @apply bg-success-600 border-success-600;
        }

        &:active:not([disabled]),
        &:active:not(.disabled) { 
            @apply bg-success-900 border-success-900; 
        }

        &:focus { @apply shadow-focus-success; }
    }

    &--info {
        @apply bg-info-500 border-info-500;

        &:hover:not([disabled]),
        &:hover:not(.disabled) { 
            @apply bg-info-600 border-info-600; 
        }

        &:active:not([disabled]),
        &:active:not(.disabled) { 
            @apply bg-info-900 border-info-900; 
        }
    }

    &--warning {
        @apply bg-warning-500 border-warning-500;

        &:hover:not([disabled]),
        &:hover:not(.disabled) {
            @apply bg-warning-600 border-warning-600;
        }

        &:active:not([disabled]),
        &:active:not(.disabled) { 
            @apply bg-warning-900 border-warning-900; 
        }
    }

    &--danger {
        @apply bg-danger-500 border-danger-500;

        &:hover:not([disabled]),
        &:hover:not(.disabled) {
            @apply bg-danger-600 border-danger-600;
        }

        &:active:not([disabled]),
        &:active:not(.disabled) { 
            @apply bg-danger-900 border-danger-900; 
        }

        &:focus { @apply shadow-focus-danger; }
    }
}

.buttons {
    @apply flex flex-wrap items-center justify-start;

    &__group {
        @apply flex flex-wrap items-center justify-start;

        &:not(:last-child) { @apply mr-3; }

        > .button {
            @apply m-0;

            &:not(:first-child) { margin-left: -1px; }
        }

        > .button:focus { z-index: 1; }

        > .button:first-child,
        > .dropdown.button:first-child { @apply rounded-r-none; }

        > .button:last-child,
        > .dropdown.button:last-child { @apply rounded-l-none; }

        > .button:not(:first-child):not(:last-child),
        > .dropdown.button:not(:first-child):not(:last-child) {
            @apply rounded-r-none rounded-l-none;
        }
    }

    > .button { @apply mb-2; }

    > .button:not(:last-child):not(.buttons--grouped) { @apply mr-2; }
}