  // Remove top margin from first element
.no-top,
%no-top {
    > *:first-child { margin-top: 0!important; }
}

// Remove bottom margin from last element
.no-bottom,
%no-bottom {
    > *:last-child { margin-bottom: 0!important; }
}

.sr-only-mobile {
  @media (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.sr-only-tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.sr-only-desktop {
  @media (min-width: 992px) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}